@model NerdDinner.Controllers.DinnerFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Host a Dinner</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.Partial("DinnerForm")
}
