@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Delete";
}

<h2>@Model.Title</h2>





@using (Html.BeginForm()) {
    
    <div>
        <p>Would you like to proceed with deleting?
        </p>

    </div>
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")

    </p>
    
}
