@model IEnumerable<NerdDinner.Models.Dinner>
@{
    ViewBag.Title = "Index";
}

<h2>My Dinners Index Page.<br>  @ViewBag.Message </h2>

<table>
    <thead>
        <tr>
        <th>Dinner</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var dinner in Model)
        {
            <tr>
                <td>@dinner.Title</td>
            </tr>    
        }
    </tbody>
</table>


